\#*
*~
/recentf
/projectile-bookmarks*
/network-security*
/elpa
projectile.cache
/transient
/tutorial
/.lsp*
/init.backup.el
/dotemacs.el

# Custom file contains only local settings like PATHs to lsp binaries, etc.
/.custom.el

/elpy